.left-splash-content::-webkit-scrollbar{
    display: none;
}
.left-splash-content{
  
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: rgb(181, 155, 244);
    padding: 0px 15px;
    margin-top: 1px;
    overflow-y: scroll;
    height: 525px;
}
.splash-img-para{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: white;
margin-top:15px;

}
.splash-img-div{
    position: relative;
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    height: 60px;
    
}
.splash-img-div2{
    position: relative;
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    height: 60px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash-img-div img{
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    height: 95%;
}
.splash-img-div2 img{
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    height: 95%;
}
.splashcross{
    position: absolute;
    top: -20px;
    right: -5px;
}
.upload-splash-image-div{
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
}

.splash-file{
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.select-img-head{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.image-select-para{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
text-align: center;
color: white;
}
.select-img-div{
    width: 100%;
    max-width: 280px;
    min-width: 280px;
    height: 50px;
    background: #7C5ACB;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash-screen-slider-wrapper{
 padding-bottom: 20px;
}
.slider-head{
    font-family: Poppins;
font-size: 26px;
font-weight: 400;
color: white;

}
.slides-wrapper-div{
    column-gap: 15px;
    margin-top: 20px;
    
}
.slider-main{
    padding: 0px 20px 0px 40px;
}
.slide{
    width: 100%;
    max-width: 75%;
    min-width: 75%;
    height: 254px;
    border-radius: 40px;
    transition: 0.3s linear all;;
}
.slide img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 40px;
}

.slide1{
    width: 100%;
    max-width: 75%;
    min-width: 75%;
    height: 254px;
    border-radius: 40px;
    transition: 0.3s linear all;;
}
.slide1 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 40px;
}
.slide2{
    border: 1px solid rgb(124, 89, 205);
    width: 100%;
    max-width: 75%;
    min-width: 75%;
    height: 254px;
    border-radius: 40px;
    transition: 0.3s linear all;;
}
.slide2 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 40px;
}
.slide4{
    border: 1px solid rgb(124, 89, 205);
    width: 100%;
    max-width: 65%;
    min-width: 65%;
    height: 254px;
    border-radius: 40px;
    transition: 0.3s linear all;;
}
.slide4 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 40px;
}
.upload-slide-img-div{
    width: 100%;
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    position: relative;
}
.upload-slide-input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    opacity: 0;
}
.upload-slide-img-div img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}
.slide-img-para{
    font-family: Poppins;
font-size: 10px;
font-weight: 400;
color: white;
margin-top: 20px;

}
.slide-upload-wrapper{
    margin-top: 60px;
}
.crop-img-wrapper{
    display: flex;
    column-gap: 50px;
    margin-top: 15px;
}
.crop-img-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}
.crop-radio{
    width: 100%;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(124, 89, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}
.crop-radio-select{
    width: 100%;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(124, 89, 205);
}
.crop-para {
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
color: white;

}
.resize-img-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}
.resize-radio{
    width: 100%;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(124, 89, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize-radio-select{
    width: 100%;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(124, 89, 205);
}
.resize-para {
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
color: white;

}

.general-info-head-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.watch-demo-para{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
color: white;

}
.video-icon-div{
    width: 100%;
    max-width: 18px;
    min-width: 18px;
}
.video-icon-div img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.hi-para{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
color: black;
margin-top: 8px;
}
.app-name-input-div{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: white;
    margin-top: 12px;
}
.app-name-input{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 20px;
    background-color: transparent;
    font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.08em;
color: white;
}
.app-name-input:focus{
    outline: none;
}
.csr-label{
    font-family: Poppins;
font-size: 26px;
font-weight: 400;
color: white;

}
.form-field:nth-child(1){
    margin-top: 5px;
}
.form-field5{
    margin-top: 20px;
}
.form-field{
    margin-top: 25px;
}
.upload-logo-para{
    font-family: Poppins;
font-size: 26px;
font-weight: 400;
color: white;

}
.upload-image-div{
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    height: 60px;
    position: relative;
    cursor: pointer;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.upload-image-div2{
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    height: 60px;
    position: relative;
    cursor: pointer;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}
.cross-img{
    position: absolute;
    top: -15px;
    right: -8px;
    font-size: 13px;
}
.upload-image-div img{
    width: 100%;
    max-width: 90%;
    min-width: 90%;
    height: 90%;
    
}
.upload-image-div2 img{
    width: 100%;
    max-width: 90%;
    min-width: 90%;
    height: 90%;
    
}
.display{
    display: none;
}
/* .upload-image{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    cursor: pointer;
} */
.upload-logo-wrapper{
    width: 100%;
    max-width: 85%;
    min-width: 85%;
    margin-top:40px;
}
.upload-image-div-wrapper{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    margin-top: 10px;
}
.upload-image-instruction{
    font-family: Poppins;
font-size: 16px;
font-weight: 300;
color: white;
}
.file-choose{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.upload-logo-description-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    min-width: 80%;
}
.skip-now-para{
    font-family: Poppins;
font-size: 22px;
font-weight: 400;
color: #B05151;
margin-top: 10px;


}
.upload-logo-description-para{
    font-family: Poppins;
font-size: 22px;
font-weight: 400;
color: white;
margin-top: 10px;
}
.image-size-para{
    font-family: Poppins;
font-size: 15px;
font-weight: 300;
color: white;

}
.my-app-wrapper{
    margin-top: 40px;
   
}
.app-logo-wrapper{
    display: flex;
    margin-top: 10px;
    column-gap: 30px;
}
.app-logo2{
    width: 100%;
    max-width: 64px;
    max-width: 64px;
    min-height: 65px;

}
.app-logo2 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}
.my-app-para{
    font-family: Poppins;
font-size: 26px;
font-weight: 400;
color: white;

}
.app-color-wrapper{
    margin-top: 40px;
}
.app-color-para{
    font-family: Poppins;
font-size: 16px;
font-weight: 300;
color: white;
margin-top: 10px;
}
.react-color-div-wrapper{
    display: flex;
    column-gap: 40px;
    margin-top: 20px;
}
.theme-choose-wrapper{
    margin-top:40px;
    margin-bottom: 40px;
}
.theme-choose-para{
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
color: white;

}
.theme-btn-div{
    display: flex;
    column-gap: 25px;
   
}
.light-theme{
    width: 100%;
    max-width: 35%;
    min-width: 35%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
.dark-theme{
    width: 100%;
    max-width: 35%;
    min-width: 35%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
.light-div{
    width: 100%;
    max-width: 55px;
    min-width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light {
    width: 100%;
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(124, 91, 200);
}
.light-para{
    font-family: Poppins;
font-size: 16px;
font-weight: 300;
color: white;
width: 100%;
max-width: 60%;
min-width: 60%;

}
.dark {
    width: 100%;
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}
.phone-div2{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 562px;
    border: 5px solid black;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -43px;
    transition: 0.3s linear all;
}
.phone-div3{
    width: 100%;
    max-width: 82%;
    min-width: 82%;
    height: 562px;
    border: 5px solid black;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -43px;
    transition: 0.3s linear all;
}
.phone-div2 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 45px;
}
.phone-div3 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 45px;
}
.phone-head{
    width: 100%;
    max-width: 40%;
    min-width: 40%;
    height: 29px;
    border-radius: 50px;
    background-color: black;
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateX(70%);
    
}
.phone-app-div{
    width: 100%;
    max-width: 70px;
    max-width: 70px;
    min-height: 65px;

}
.phone-app-div img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}
.faq-img-div{
    width: 100%;
    max-width: 21px;
    min-width: 21px;
    height: 21px;
}
.faq-img-div img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}
.faq-head-div{
    display: flex;
    column-gap: 10px;
}
.faq-head{
    font-family: Poppins;
font-size: 26px;
font-weight: 400;
color: white;

}
.faq-para{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
color: white;
width: 100%;
max-width: 95%;
min-width: 95%;
margin-top: 10px;
}
.btn-div{
    margin-top: 10px;
    padding-bottom: 10px;
}
.fa-greater-than{
    position: absolute;
    top: 45%;
    right: 0%;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
}
.fa-less-than{
    position: absolute;
    top: 45%;
    left: -5%;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
}
.splash-screen-tabs-btn{
    display: flex;
    column-gap: 15px;
    padding: 0px 15px;
    margin-top: 10px;
    transition: 0.3s linear all;
}
.splash-screen-tabs-btn2{
    display: flex;
    column-gap: 15px;
    padding: 0px 15px;
    margin-top: 10px;
    transition: 0.3s linear all;
}
.splash-btn{
    width: 100%;
    max-width: 140px;
    min-width: 140px;
    height: 50px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgb(124, 91, 200);
    border: none;
}
.splash-btn:nth-child(3){
    width: 100%;
    max-width: 170px;
    min-width: 170px;
}
.text-area-main{
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    position: relative;
}
.arrow{
    position: absolute;
    top: 25%;
    right: 20px;
    width: 100%;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(124, 91, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.text-area{
    resize: none;
    border:1px solid rgb(124, 91, 200);
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 50px 0px 20px;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 40px;
}
.text-area::-webkit-scrollbar{
    display: none;
}
.text-area:focus{
    outline: none;
}
.text-area-div{
    display: flex;
    padding: 0px 40px;
    margin-top: 20px;
    
}
@media (max-width:1499px){
    .phone-div2 {
        height: 480px;
        width: 100%;
        max-width: 90%;
        min-width: 90%;
     
    }
  
}